/* Default Styles */
img 		{ border: none; }
.clear_all 	{ clear: both; }
.left 		{ float: left; }
.center 	{ text-align: center; }
.right 		{ text-align: right; }
.hide		{ display: none; }
.show		{ display: block; }
.strong		{ font-weight: bold; }
.underline	{ text-decoration: underline; }
p			{ padding: 0; margin: 8px 0 10px 0;line-height:18px;}
.home h1, h2{ border-bottom: 5px solid #c3e6ea; color: #31475C; font-size: 11px; font-weight: normal; letter-spacing: 2px; line-height: 17px; margin: 0 0 5px; padding: 0 0 0 3px; }
.home h1	{ width: 275px; }
h1			{ border-bottom: 1px solid #D4D4D4; color: #878787; font-size: 1.6em; margin: 0 0 10px 0; padding-bottom: 12px; }
h2			{ border-color: #D8D598; }
ul			{ padding-left: 35px; margin: 0 0 15px 0; }

/* ---------- */

a,a:visited,a:link {
	color: #990000;
	text-decoration: none;
	
}

a:hover {
	color: #990000;
	text-decoration: underline;
}

a.underline,a.underline:visited,a.underline:link {
	text-decoration: underline;
}

a.underline:hover {
	text-decoration: none;
}

body {
	margin: 0px;
	width: 100%;
	font-family: Arial, Verdana, Georgia, Courier New;
	font-size: 12px;
	color: #333333;
	background-color: #ffffff;
}

hr {
	margin: 0;
	padding: 0;
	color: #bbbbbb;
}	

.header				{ height: 55px;margin-top:0px;padding-top:0px; }
.header img, p img	{ display: inline; }

a.underline,a.underline:visited,a.underline:link { text-decoration: underline; }
a.underline:hover {	text-decoration: none; }

.body_content {
	margin-top: 10px;
	margin-bottom:10px;
	width: 1050px; 
	min-height: 450px;
	overflow: auto;
}

.navigation	{
	display: inline;
	float: left;
	width: 191px;
}

/*-- Main navigation overwrites --*/
#qm0 a		{ margin-top: 4px; }

#qm1 .slac_links {
	margin-top: 40px;
	background-image: url(http://www-project.slac.stanford.edu/slac-home/webimages/ContentBarBack.gif);
}

#qm1 a { padding-left: 10px; }

/* ------------- */

.welcome_message {
	font-weight: bold;
	color: #535353;
}

.page_content { 
	float: left;
	display: inline; 
	margin: 8px 0 30px 0;
	padding-right: 15px;
	line-height: 15px;
}

.home { 
	width: 575px; 
	border-right: solid 1px #cbcbcb;
}

.staff { 
	width: 520px; 
	border-right: solid 0px #cbcbcb;
}



.page_content .duo_col {
	position: relative;
	display: inline;
	float: left;
	width: 265px;
	margin-left: 0px;
	padding-right: 15px;
	border-right: solid 1px #cbcbcb;
}

.page_content .right_col { 
	margin-left: 15px;
	padding-right: 0px;
	border-right: none;
}

.right_col .research_bar_1 {
	background-image:url(images/artificial-photo.gif);
	background-repeat:no-repeat;
}

.right_col .research_bar_2 {
	background-image:url(images/syngas.gif);
	background-repeat:no-repeat;
}

.right_col .research_bar_3 {
	background-image:url(images/electronic-structure.gif);
	background-repeat:no-repeat;
}

.right_col .button {
	font-size: 10px;
	font-weight: bold;
	height: 45px;
	line-height: 48px;
	margin: 8px 0;
	padding-left: 8px;
	width: 252px;
}

.button a,.button a:visited,.button a:link { color: #0c2254; }
.button a:hover { color: #990000; text-decoration: none; }


.interior { 
	width: 830px; 
}

.interior_content {
	float: left;
	display: inline; 
	margin: 0 0 15px 0;
	padding-right: 20px;
	width: 530px;
	line-height: 15px;
	border-right: solid 1px #cbcbcb;
}

.breadcrumb {
	margin-bottom: 15px;
	font-size: 10px;
	color: #878787;
}


.cs_head {
	padding: 4px 0 4px 7px;
	height: 13px;
	color:#003366;
	font-weight: bold;
	font-size: 10px;	
	background-image: url("s/images/header_barback.gif");
	background-repeat: repeat-x;
}

.cs_body {
	margin: 0 0 0px 0px;
	padding-left:0px;
	line-height: 15px;
}

.cs_body .more {
	font-size: 10px;
	font-weight: normal;
	margin-right: 0;
	position: relative;
	text-align: right;
}

.more {	margin: 0 15px 0 0; }

.page_events {
	float: left;
	display: inline;
	position: relative;
	width: 195px;
	margin: 9px 0 0 15px;
	color: #4e4e4e;
}

.page_events li {
	padding: 9px 3px 0 0;
	font-size: 10px;
	line-height: 12px;
}

.image_gallery				{ margin: 0 0 25px 0; }
.image_gallery .large		{ margin: 3px 0 5px 5px; }
.image_gallery .thumbs		{ width: 246px; }
.image_gallery .thumbs img	{ display: inline; margin: 8px 0 0 0; }

.page_events {
	float: left;
	display: inline;
	position: relative;
	width: 185px;
	margin: 9px 0 0 13px;
	color: #878787;
}

.page_events .sub { font-size: 10px; font-weight: bold; color: #858c58; }

/*
.page_events ul a {
	padding-left: 10px;
	background-image: url(images/arrows.gif);
	background-repeat: no-repeat;
}
*/

.page_events ul { padding-left: 0px;
/*
	margin-left:0px;
	list-style-type: disc; 
	list-style-image: url(images/arrows.gif);	
	list-style-position: inside;
	display:block;
*/
 }

.page_events li {
	padding: 9px 0 0 0; 
	font-size: 10px;
	line-height: 12px;
	list-style-type: none; 
}

.page_events ul.bulletless	{ 
	padding: 0 0 0 12px;
	list-style-type: none; 
}

.page_events ul.bulletless li { padding-top: 6px; }

.news	{ color: #999999; }
.news a { font-weight: bold; }

.contact		{ padding: 10px; }
.contactName	{ font-size: 1.05em; font-weight: bold; }
.contactAddress { font-size: 0.9em; padding: 10px; }

/* ----- Profile Section ------*/

.contactRightHandNavOutterDiv{
	float: left;
	position: relative;
	margin-left:15px;
	width:200px;
	background-color:#EFEFEF;
	height:150px;
	margin-top:30px;
}

.contactRightHandHeader{
	height:17px;
	background-image:url(./images/ContentBarBack.gif);
	background-repeat:repeat-x;
	text-align:left;
	padding-top:4px;
	font-size:11px;
	font-weight:bold;
	padding-left:10px;
	color:#003366;
}

.contactRightHandItemDiv{
	font-size:11px;
	padding: 5px 0 5px 0px;
}

.contactItemBullet{
	vertical-align:middle;
	padding-left:15px;
	padding-right:10px;
}

.contactBlockOutterDiv{
	position: relative;
	background-color: #E4EEF1;
	background-repeat: repeat-x;
	width:100%;
	float:left;
	overflow:hidden;
	margin-top:20px;
}

.contactHeader{
	height:17px;
	background-image:url(http://www-project.slac.stanford.edu/slac-home/webimages/ContentBarBack.gif);
	background-repeat:repeat-x;
	text-align:left;
	padding-top:4px;
	font-size:11px;
	font-weight:bold;
	padding-left:10px;
	color:#003366;
}



/*------------------------------------*/


.footer {
	margin: 5px 0 15px 10px;
	font-size: 9px;
}


.viewhref{ 
font-size:9px;
font-family:Arial, Helvetica, sans-serif;
 
}